<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>PCF Demo</title>
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0"></meta>

<!-- Bootstrap core CSS -->
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/resources/css/keen-dashboards.css}" rel="stylesheet" type="text/css"></link>

<!-- Custom styles for this template -->
<link th:href="@{/resources/css/sticky-footer-navbar.css}" rel="stylesheet"></link>
<link th:href="@{/resources/css/map.css}" rel="stylesheet"></link>
 
<!-- pivotal favicon -->
<link rel="shortcut icon" th:href="@{/resources/img/favicon.ico}"></link>
</head>

<body class="application">

    <!-- Begin navbar -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#"><img style="width: 100px;" th:src="@{/resources/img/Company_Logo.png}" alt="Company Logo"></img></a>
       </div>
       <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="https://keen.io">Instance hosted at &nbsp;<%=request.getLocalAddr() %>:<%=request.getLocalPort() %></a></li> -->
        </ul>
       </div>
    </div>
  </div>
  
  <!-- Begin page content -->  
  <div class="container-fluid tester123">
    <div class="row">


      <!-- Begin Left Column content -->  
      <div class="col-sm-2" id="left-side-knobs">
      </div><!-- End Left Column content -->
      
      <!-- Begin Center Column content -->  
      <div class="col-sm-8">
      <div class="row">
       <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            <b>Service Activation density per US State (tip: click on a state for details)</b>
          </div>
          <div class="chart-stage">
	          <div id="stateOrders" align="center" ></div>
  		      <div id="usmap" align="center"></div>
	      </div>
          <div class="chart-notes">
		Status: connected, receiving subscriber data
          <!-- 
		      <c:choose>
			  <c:when test="${rabbitURI != null}">
				Status: connected, receiving subscriber data		
			  </c:when>
			  <c:otherwise>
				Status: not connected
			  </c:otherwise>
		      </c:choose>   
		      -->       
		  </div>
        </div>
      </div>
      </div>

      <!-- Unhide to show environment
      <div class="row">
       <div class="col-sm-10">
        <div class="chart-wrapper">
          <div class="chart-title">
           Debug PCF Instance Environment
          </div>
          <div class="chart-stage">
             <div id="autogenMsg" align="center"> </div><br>
             <div id="environment">Environment Variables etc</div>
	      </div>
          <div class="chart-notes">
		      This box is for debug log messages and such, it will go away for prod deploy
		  </div>
        </div>
      </div>
      </div>
      -->

      </div>
      
      <!-- Begin Right Column content -->
      <div class="col-sm-2" id="right-side-knobs">
      </div>
      <!-- End Right Column content -->
      

    </div>

  <!-- Begin Footer content -->  
     <hr></hr>
      <div class="container-fluid">
      <p></p>
      <div class="pull-left">&copy;&nbsp;2015 Pivotal Software, Inc.</div>
      <div class="pull-right"><img th:src="@{/resources/img/PoweredByPivotal.png}" alt="Powered By Pivotal "></img></div>
      </div>
 
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>      
<script type="text/javascript" src="https://d3js.org/d3.v2.min.js?2.9.6"></script>
<script type="text/javascript" th:src="@{/resources/js/rainbowvis.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/histograms.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/map.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/holder.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/keen.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.knob.js}"></script>


</body>
</html>
